.small_image{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 96%;
    overflow: auto;
    position: absolute;
    bottom: 1%;
    left:1%;
    right: 0;
}
.small_image img{
    width: 20%;
    height: 7rem;
    margin-left: 1%;
    margin-top: 1%;
    border: 1px solid red;
}

.product_name{
    color: #00151D;
    font-size: 2.5vw;
    font-weight: 530;
}
.add_to_cart{

    outline: 1px solid #00151D;
    border-radius: 0;
    color: #00151D;
    height: 3rem;
}
.buy_now{

    background-color: #00151D;
    border-radius: 0;
    color: #fff;
    height: 3rem;
}
.add_to_cart:hover, .buy_now:hover{
    background-color: #DC143C;
    color: #fff;
}
.select{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
}
.select .color{
    width: 100%;
}
 select
{
    width: 100%;
    background-color: #EBEEF2;
    border-radius: 0;
    color: #00151D;
    height: 3rem;
}